<!DOCTYPE html>
<html>

<head>
  <meta charset='utf-8'>
  <title>Create a MadLib!</title>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
  <p>Thanksgiving with you <strong>!!!@Model.GetNoun1()</strong> can be a/an <strong>!!!@Model.GetAdjective1()</strong> experience, but you've got to come prepared.</p>
  <p>Don't show up at your parents' <strong>!!!@Model.GetNoun2()</strong> expecting everything to be peaches 'n' <strong>!!!@Model.GetNoun3()</strong>.</p>
  <p>Make a plan.</p>
  <p>First go to the kitchen and help your mother cook the gigantic <strong>!!!@Model.GetNoun4()</strong> she bought.</p>
  <p>Then greet each individual <strong>!!!@Model.GetNoun5()</strong> at the door, take their <strong>!!!@Model.GetPluralNoun1()</strong>, and seat them at least <strong>!!!@Model.GetNumber1()</strong> feet away from each other.</p>
  <p>Start the conversation by asing Dad about his <strong>!!!<strong>!!!@Model.GetAdjective2()</strong> old days as the <strong>!!!@Model.GetNoun6()</strong> of his high-school <strong>!!!@Model.GetNoun7()</strong> (Anything to make him forget that you still owe <strong>!!!@Model.GetNumber2()</strong> dollars for your tuition.)</p>
  <p>It will also keep your grandparents from talking, this sparing you the lecture on the "outrageous prince of <strong>!!!@Model.GetPluralNoun2()</strong> these days."</p>
  <p>Finally - and please dont overlook this very <strong>!!!@Model.GetAdjective3()</strong> step - bring proof that you looked for a job in the past week!</p>
</body>
</html>
